name = "dogpile-scraper-processor"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[[queues.consumers]]
queue = "dogpile-scrape-jobs"
max_batch_size = 1
max_retries = 3

[[queues.producers]]
binding = "REINDEX_QUEUE"
queue = "dogpile-reindex-jobs"

[[d1_databases]]
binding = "DB"
database_name = "dogpile-db"
database_id = "ea4a4ec7-ad28-4219-a86f-5054bc79b21c"

[[r2_buckets]]
binding = "PHOTOS_ORIGINAL"
bucket_name = "dogpile"

[[kv_namespaces]]
binding = "KV"
id = "53504d090fba4bdf8e2313da14b37720"
