name = "dogpile-scraper-processor"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[[rules]]
type = "Text"
globs = ["**/*.md"]

[[queues.consumers]]
queue = "dogpile-scrape-jobs"
max_batch_size = 1
max_retries = 3

[[queues.producers]]
binding = "IMAGE_QUEUE"
queue = "dogpile-image-jobs"
remote = true

[[queues.consumers]]
queue = "dogpile-image-jobs"
max_batch_size = 5
max_retries = 3

[[queues.producers]]
binding = "REINDEX_QUEUE"
queue = "dogpile-reindex-jobs"
remote = true

[[d1_databases]]
binding = "DB"
database_name = "dogpile-db"
database_id = "ea4a4ec7-ad28-4219-a86f-5054bc79b21c"
remote = true

[[r2_buckets]]
binding = "PHOTOS_ORIGINAL"
bucket_name = "dogpile"
preview_bucket_name = "dogpile"
remote = true

[[kv_namespaces]]
binding = "KV"
id = "53504d090fba4bdf8e2313da14b37720"
preview_id = "53504d090fba4bdf8e2313da14b37720"
remote = true

[images]
binding = "IMAGES"
