name = "dogpile-scraper-scheduler"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[triggers]
crons = ["0 * * * *"]

[[d1_databases]]
binding = "DB"
database_name = "dogpile-db-preview"
database_id = "ebaccb4b-50f9-4aa9-b155-577e319dbd15"
preview_database_id = "ebaccb4b-50f9-4aa9-b155-577e319dbd15"

[[queues.producers]]
binding = "SCRAPE_QUEUE"
queue = "dogpile-scrape-jobs"

[vars]
SYNC_INTERVAL_MINUTES = "60"
