name = "dogpile-api"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "dogpile-db-preview"
database_id = "ebaccb4b-50f9-4aa9-b155-577e319dbd15"
preview_database_id = "ebaccb4b-50f9-4aa9-b155-577e319dbd15"
migrations_dir = "../../packages/db/migrations"

[[kv_namespaces]]
binding = "KV"
id = "53504d090fba4bdf8e2313da14b37720"
preview_id = "53504d090fba4bdf8e2313da14b37720"

[[r2_buckets]]
binding = "PHOTOS_ORIGINAL"
bucket_name = "dogpile"
preview_bucket_name = "dogpile"

[[r2_buckets]]
binding = "PHOTOS_GENERATED"
bucket_name = "dogpile-generated"
preview_bucket_name = "dogpile-generated"

[[vectorize]]
binding = "VECTORIZE"
index_name = "dogpile-dogs"

[vars]
ENVIRONMENT = "development"
